<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    <div style="width: 250px;">
      <h4><b>Search Results</b></h4>
    </div>
  </mat-expansion-panel-header>
  <mat-accordion multi="true">
    <div *ngFor="let results of getSearchResults()">
      <b><label>{{results.mapName}}</label></b>
      <div *ngFor="let result of results.results">
          <app-map-search-items [result]="result"></app-map-search-items>
      </div>
    </div>
  </mat-accordion>
</mat-expansion-panel>
