<div>
  <label>
    <input *ngIf="mapType == 'dynamic'" #mapLayerLegend
           type="checkbox"
           [checked]="layer.visible"
           [value]="layer.layerId"
           (change)="mapLegendChanged()"
    />
    {{layer.layerName}}
  </label>

  <div *ngFor="let image of legend">
    <img src="{{imageProperty}},{{image.imageData}}" alt="Image">
  </div>


  <div *ngIf="layer.sublayers" style="margin-left: 20px;">
  <app-map-legend-item-layers
    *ngFor="let lyr of layer.sublayers"
    [mapUrl]="this.mapUrl"
    [layer]="lyr">
  </app-map-legend-item-layers>
  </div>
</div>
